@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-light: #ffffff;
	--background-dark: #121212;
	--foreground-light: #1c1c1c;
	--foreground-dark: #ededed;
	--primary-light: #db2777;
	--primary-dark: #f472b6;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #121212;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground-dark);
	background: var(--background-dark);
	font-family: 'Nunito Sans', sans-serif;
}
